@using StoreIS.Models.Product
@model EditProductViewModel

<form id="createProduct" method="post" enctype="multipart/form-data">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<input asp-for="Id" type="hidden" value="@Model.Id"/>

	<label>Product Name</label>
	<input asp-for="Name" type="text" name="Name" aria-required="true" />
	<span asp-validation-for="Name" class="text-danger"></span>

	<label>Product Category</label>
	<select asp-for="CategoryId">
		<option></option>
		@foreach (var category in Model.Categories)
		{
			<option value="@category.Id">@category.Name</option>
		}
	</select>

	<label>Product Price</label>
	<input asp-for="Price" type="number" step="0.01" name="price" aria-required="true" />

	<div>
		<img src="data:image;base64,@Model.Image" />
	</div>

	<label>Product Image</label>
	<input type="file" asp-for="File" name="file" />

	<button type="submit" class="btn btn-info">Edit</button>
</form>