@using StoreIS.Models.ShoppingList
@using System.Security.Claims
@model CreateShoppingListViewModel

<form id="createList" method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>

	<input type="hidden" asp-for="UserId" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)"/>

	<label>List Name</label>
	<input asp-for="Name" type="text" name="name" />

	<button type="submit" class="btn btn-info" >Create</button>
</form>
